<%= form_for @board_in_project, remote: true do |form| %>
  <div class="field">
    <%= select("board_in_project", "board_id", Board.all.collect { |a| [a.name, a.id] }, { include_blank: true }) %>
  </div>

  <%= form.hidden_field :project_id, :value => Project.last.id + 1 %>

  <div class="actions">
    <%= form.submit 'add board to project' %>
  </div>
<% end %>
