.card {
  width: 90%;
  // background-color: white;
  // min-height: 50px;
  // margin-bottom: 5px;

  background-color: white;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-bottom:6px;



  .close {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    position: absolute;
    top: 40px;
    right: 50px;
    cursor: pointer;
  }

  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  }
  .close:before {
  transform: rotate(45deg);
  }
  .close:after {
  transform: rotate(-45deg);
  }

  .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  input {
    margin-top: 10px;
    margin-left: 10px;
    border: none;
  }
}

.ghostDrag {
  position: absolute;
  top: -100000px;
  left: -100000px;
  max-width: 226px;
}
