.columns {
  display: flex;
  overflow: scroll;
  width: 90vw;

  &::-webkit-scrollbar {
    display: none;
  }
}

.column {
  position: relative;
  background-color: #F4F4F4;
  min-width: 250px;
  min-height: 100px;
  max-height: 87.5vh;
  overflow: hidden;

  &:not(:first-of-type) {
    margin-left: 10px;
  }

  .columnHeading {
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding: 10px;
  }

  .cardsWrapper {
    max-height: 100%;
    overflow: scroll;
    margin-bottom: 60px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}


.general {
  position: absolute;
  margin-left: 0 !important;
}

.done {
  left: -200px;
  box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.1);
  z-index: 1000;
  height: 100vh;

  &:hover {
    left: 0;

  }
}

.inbox {
  z-index: 1000;
  height: 100vh;
  right: -200px;
  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.1);

  &:hover {
    right: 0;

  }
}

.addTaskInColumn {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%;

  font-size: 17px;
  font-weight: 300;
  color: #9B9B9B;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
    text-decoration: underline;
  }
}
