.A_Button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  background-color: #418dff;
  color: white;
  border-radius: 3px;
  cursor: pointer;

  &.inactive {
    cursor: auto;
    background-color: grey;
  }
}
