.A_TabItem {
  height: 100%;
  color: #9B9B9B;
  border-bottom: 1px solid #D8D8D8;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;

  &.active {
    color: black;
    border-bottom: 1px solid black;
  }

  &:hover {
    color: black;
    border-bottom: 1px solid black;
  }
}
