<% regex = /\w+$/ %>
<% link = @video.video %>
<% result = link[regex] %>

<p id="notice"><%= notice %></p>

<iframe class="video"  width="664" height="458" src="https://www.youtube.com/embed/<%= result %>?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
