<% content_for :boards_menu do %>
  <% current_user.boards.each do |board| %>
    <%= link_to board.name, board_projects_path(board) %>
  <% end %>
<% end %>

<% @board.columns.each do |column| %>
  <hr>

  <h1><%= column.name %></h1>

  <% column.projects.each do |project| %>
    <p><%= link_to project.name, board_project_path(@board, project) %></p>
  <% end %>

  <hr>
<% end %>
