<% content_for :boards_menu do %>
  <menu class="O_Menubar">
    <div class="left">
      <% @boards.each do |board| %>
        <%= link_to board.name, board_path(board) %>
      <% end %>
    </div>

    <div class="right"></div>
  </menu>
<% end %>

<%= render partial: 'columns/column', collection: @board.columns %>
