// Place all the styles related to the columns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.columns {
  display: flex;
  width: 100%;

  .column {
    width: 250px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, .1);

    &:not(:first-of-type) {
      margin-left: 10px;
    }

    .columnHeading {
      font-size: 14px;
      font-weight: 600;
      margin-left: 6px;
    }
  }
}

#done, #inbox {
  width: 250px;
  min-height: 100px;
  background-color: rgba(0, 0, 0, .1);
  position: absolute;

  .columnHeading {
    font-size: 14px;
    font-weight: 600;
    margin-left: 6px;
  }
}

#done {
  left: -218px;
  &:hover {
    left: 0;
  }
}

#inbox {
  right: -200px;
  &:hover {
    right: 0;
  }
}
