<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app'  %>
  </head>
  <body>
    <%#= react_component("Main",
      props: {
        board: @board,
        columns: @columns,
        cards: @cards,
        cardInColumns: @card_in_columns
      },
      prerender: false)
    %>

    <%= yield %>
  </body>
</html>
